In [1]:
import pandas as pd

In [41]:
# PollutionData = 'Resources/pollution_2000_2023.csv'
# NewPollutionData = 'Resources/annual_aqi_by_county_2023.csv'
# pollution_df = pd.read_csv(PollutionData, low_memory=False)
# newPollution_df = pd.read_csv(NewPollutionData, low_memory=False)

In [45]:
conc2023 = 'Resources/annual_conc_by_monitor_2023.csv'
conc2022 = 'Resources/annual_conc_by_monitor_2022.csv'
conc2022df = pd.read_csv(conc2022)
conc2023df = pd.read_csv(conc2023)

In [44]:
conc2023df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,75th Percentile,50th Percentile,10th Percentile,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,1 HOUR,...,0.054,0.049,0.031,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2023-09-22
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.050,0.044,0.027,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2023-09-22
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.050,0.044,0.027,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2023-09-22
3,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.049,0.044,0.027,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2023-09-22
4,1,3,10,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,1 HOUR,...,10.500,7.200,2.000,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2023-09-22

In [46]:
conc2022df.head()

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,75th Percentile,50th Percentile,10th Percentile,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,1 HOUR,...,0.051,0.044,0.029,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2023-04-27
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.047,0.040,0.026,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2023-04-27
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.047,0.040,0.026,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2023-04-27
3,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,0.047,0.040,0.026,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2023-04-27
4,1,3,10,88101,1,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,24 HOUR,...,8.700,7.100,3.600,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2023-05-16

In [36]:
conc_columns = []
aqi_columns = []
shared_columns = []
new_conc_columns = []
new_aqi_columns = []
for i in conc2023df:
    if i not in aqi_columns:
        aqi_columns.append(i)
for i in conc2023df:
    if i not in conc_columns:
        conc_columns.append(i)
for i in aqi_columns:
    if i not in conc_columns:
        new_aqi_columns.append(i)
    else:
        shared_columns.append(i)
for i in conc_columns:
    if i not in shared_columns:
        new_conc_columns.append(i)

In [40]:
print(shared_columns)
print("")
print(new_conc_columns)
print("")
print(new_aqi_columns)

['Year']

['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC', 'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration', 'Pollutant Standard', 'Metric Used', 'Method Name', 'Units of Measure', 'Event Type', 'Observation Count', 'Observation Percent', 'Completeness Indicator', 'Valid Day Count', 'Required Day Count', 'Exceptional Data Count', 'Null Data Count', 'Primary Exceedance Count', 'Secondary Exceedance Count', 'Certification Indicator', 'Num Obs Below MDL', 'Arithmetic Mean', 'Arithmetic Standard Dev', '1st Max Value', '1st Max DateTime', '2nd Max Value', '2nd Max DateTime', '3rd Max Value', '3rd Max DateTime', '4th Max Value', '4th Max DateTime', '1st Max Non Overlapping Value', '1st NO Max DateTime', '2nd Max Non Overlapping Value', '2nd NO Max DateTime', '99th Percentile', '98th Percentile', '95th Percentile', '90th Percentile', '75th Percentile', '50th Percentile', '10th Percentile', 'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name', 'CBSA Name', 'Date of Last Change']

['State', 'County', 'Days with AQI', 'Good Days', 'Moderate Days', 'Unhealthy for Sensitive Groups Days', 'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI', '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2', 'Days Ozone', 'Days PM2.5', 'Days PM10']

In [50]:
conc_columns = [column for column in conc2023df.columns]

In [53]:
for column in conc_columns:
    value_list = []
    for i in conc2023df[column]:
        if i not in value_list:
            value_list.append(i)
        if len(value_list) == 100:
            break
    print(f"The {column} column contains the following unique values: ")
    print(value_list)
    print("")

The State Code column contains the following unique values:
[1, 2, 4, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 72, 80]

The County Code column contains the following unique values:
[3, 27, 49, 51, 53, 55, 73, 89, 97, 101, 103, 109, 113, 117, 119, 125, 20, 68, 90, 110, 170, 1, 5, 7, 12, 13, 15, 17, 19, 21, 23, 25, 35, 67, 139, 143, 9, 11, 29, 31, 33, 37, 41, 43, 45, 57, 59, 61, 63, 65, 69, 71, 75, 77, 79, 81, 83, 85, 87, 93, 95, 99, 105, 107, 111, 47, 123, 86, 91, 115, 127, 129, 121, 135, 151, 153, 185, 213, 215, 231, 245, 247, 261, 295, 303, 133, 157, 161, 163, 167, 179, 197, 201, 39, 141, 145, 147, 169, 173, 183]

The Site Num column contains the following unique values:
[10, 1, 1003, 9991, 4, 1000, 11, 23, 1005, 1010, 2003, 2059, 5003, 6002, 6004, 2, 3, 14, 22, 2005, 1002, 9001, 18, 45, 1004, 34, 35, 40, 8, 1235, 8001, 1008, 12, 1001, 8000, 19, 2001, 3002, 3003, 4003, 4004, 4005, 4006, 4008, 4009, 4010, 4011, 4016, 4020, 4021, 5100, 7003, 7020, 7021, 7022, 7024, 9508, 9702, 9704, 9812, 9997, 119, 20, 21, 1011, 1014, 1018, 1020, 1026, 1028, 1030, 1032, 1034, 1036, 1113, 3001, 3007, 3008, 3009, 3011, 3014, 3015, 3016, 7001, 7004, 8034, 8011, 5, 7, 6, 9, 13, 15, 16, 1033, 2002, 4001, 2007, 2004, 500]

The Parameter Code column contains the following unique values:
[44201, 88101, 61103, 61104, 62101, 62201, 63301, 64101, 65102, 42101, 42401, 42406, 42600, 42601, 42602, 42603, 43502, 43503, 43504, 43510, 43517, 43528, 43551, 43552, 45501, 63102, 68102, 68105, 68108, 68111, 68112, 68113, 68114, 68115, 68116, 68117, 68118, 81102, 86101, 88102, 88103, 88104, 88107, 88109, 88110, 88111, 88112, 88113, 88114, 88115, 88117, 88118, 88126, 88128, 88131, 88132, 88136, 88140, 88152, 88154, 88160, 88161, 88164, 88165, 88166, 88167, 88168, 88169, 88176, 88180, 88184, 88185, 88203, 88301, 88302, 88303, 88306, 88320, 88321, 88324, 88325, 88326, 88327, 88328, 88329, 88330, 88331, 88348, 88355, 88357, 88370, 88374, 88375, 88376, 88377, 88378, 88379, 88380, 88381, 88382]

The POC column contains the following unique values:
[1, 3, 2, 8, 5, 4, 7, 6, 30, 31, 33, 34, 9, 10, 11, 12, 81, 61, 16, 13, 14, 20, 44]

The Latitude column contains the following unique values:
[30.497478, 33.284928, 34.288567, 34.289001, 32.53568, 31.0921, 33.991494, 33.904039, 33.553056, 33.485556, 33.331111, 33.545278, 33.499722, 33.521427, 33.801667, 33.578333, 33.565278, 34.788423, 34.728831, 34.620369, 34.68547, 34.772727, 30.770181, 30.474305, 32.412811, 34.530717, 31.790479, 32.437028, 33.317142, 33.0928, 32.362606, 33.095379, 61.205861, 61.181117, 61.3267, 63.7232, 64.84569, 64.762641, 64.84593, 58.388497, 61.534163, 34.07339, 35.880404, 31.3658, 31.3492, 32.00941, 35.206111, 36.05864, 34.229733, 33.6547, 33.3855, 33.397433, 33.006179, 33.002517, 33.0035, 33.419017, 34.2439, 33.48378, 33.41018, 33.56031, 33.45244, 33.57453, 33.70639, 33.45797, 33.47968, 33.40314, 33.29896, 33.41123, 33.30995, 33.82169, 33.40635, 33.63718, 33.36985, 33.68719, 33.46173, 33.41046, 33.629246, 33.290229, 33.488131, 33.507992, 33.474609, 33.508125, 33.9828, 33.54558, 33.61092, 33.4265, 33.503833, 35.153888, 34.82251, 33.85815, 32.382036, 32.004707, 32.322661, 32.414344, 32.174538, 32.201978, 32.204411, 32.20739, 32.425261, 32.04767]

The Longitude column contains the following unique values:
[-87.880258, -85.803608, -85.969858, -85.970065, -86.255193, -87.5435, -85.992647, -86.053867, -86.815, -86.915, -87.003611, -86.549167, -86.924167, -86.844112, -86.9425, -86.773889, -86.796389, -86.616105, -86.585003, -86.566381, -86.58816, -86.756174, -88.087761, -88.141022, -86.263394, -86.967536, -85.978974, -84.999653, -86.825754, -86.8072, -88.277992, -87.481507, -149.824602, -149.834003, -149.569707, -148.9676, -147.727413, -147.310279, -147.69327, -134.567237, -149.031655, -109.85801, -109.438003, -109.73095, -109.539683, -109.38906, -111.652777, -112.1836, -111.3295, -111.1074, -110.867267, -110.87445, -110.785797, -110.765467, -110.7822, -110.82967, -113.5586, -112.14256, -111.86536, -112.06619, -111.73327, -112.19193, -111.85575, -112.04659, -111.91721, -112.07526, -111.88426, -111.93471, -111.72003, -112.01726, -112.14426, -112.34185, -112.62068, -112.29416, -112.12796, -112.00264, -111.676928, -112.160597, -111.855443, -111.755334, -111.805769, -111.83852, -111.79871, -111.60972, -111.72534, -112.11821, -112.095767, -114.566111, -109.89249, -109.97029, -112.857453, -110.792593, -111.038389, -111.154544, -110.737116, -110.967905, -110.878067, -110.910619, -111.06352, -110.774357]

The Datum column contains the following unique values:
['NAD83', 'WGS84']

The Parameter Name column contains the following unique values:
['Ozone', 'PM2.5 - Local Conditions', 'Wind Speed - Resultant', 'Wind Direction - Resultant', 'Outdoor Temperature', 'Relative Humidity ', 'Solar radiation', 'Barometric pressure', 'Rain/melt precipitation', 'Carbon monoxide', 'Sulfur dioxide', 'SO2 max 5-min avg', 'Reactive oxides of nitrogen (NOy)', 'Nitric oxide (NO)', 'Nitrogen dioxide (NO2)', 'Oxides of nitrogen (NOx)', 'Formaldehyde', 'Acetaldehyde', 'Propionaldehyde', 'Butyraldehyde', 'Hexanaldehyde', 'Crotonaldehyde', 'Acetone', 'Methyl ethyl ketone', 'Benzaldehyde', 'Light Absorption Coeffiecient', 'Sample Volume', 'Average Ambient Temperature', 'Average Ambient Pressure', 'Sample Flow Rate CV - Teflon Filter', 'Sample Flow Rate CV - Nylon Filter', 'Sample Flow Rate CV - Quartz Filter', 'Sample Volume - Teflon Filter', 'Sample Volume - Nylon Filter', 'Sample Volume - Quartz Filter', 'Average Ambient Temperature for URG3000N', 'Average Ambient Pressure for URG3000N', 'PM10 Total 0-10um STP', 'PM10-2.5 - Local Conditions', 'Antimony PM2.5 LC', 'Arsenic PM2.5 LC', 'Aluminum PM2.5 LC', 'Barium PM2.5 LC', 'Bromine PM2.5 LC', 'Cadmium PM2.5 LC', 'Calcium PM2.5 LC', 'Chromium PM2.5 LC', 'Cobalt PM2.5 LC', 'Copper PM2.5 LC', 'Chlorine PM2.5 LC', 'Cerium PM2.5 LC', 'Cesium PM2.5 LC', 'Iron PM2.5 LC', 'Lead PM2.5 LC', 'Indium PM2.5 LC', 'Manganese PM2.5 LC', 'Nickel PM2.5 LC', 'Magnesium PM2.5 LC', 'Phosphorus PM2.5 LC', 'Selenium PM2.5 LC', 'Tin PM2.5 LC', 'Titanium PM2.5 LC', 'Vanadium PM2.5 LC', 'Silicon PM2.5 LC', 'Silver PM2.5 LC', 'Zinc PM2.5 LC', 'Strontium PM2.5 LC', 'Sulfur PM2.5 LC', 'Rubidium PM2.5 LC', 'Potassium PM2.5 LC', 'Sodium PM2.5 LC', 'Zirconium PM2.5 LC', 'Chloride PM2.5 LC', 'Ammonium Ion PM2.5 LC', 'Sodium Ion Pm2.5 LC', 'Potassium Ion PM2.5 LC', 'Total Nitrate PM2.5 LC', 'OC PM2.5 LC TOR', 'EC PM2.5 LC TOR', 'OC1 PM2.5 LC', 'OC2 PM2.5 LC', 'OC3 PM2.5 LC', 'OC4 PM2.5 LC', 'OP PM2.5 LC TOR', 'EC1 PM2.5 LC', 'EC2 PM2.5 LC', 'EC3 PM2.5 LC', 'Soil PM2.5 LC', 'OC CSN_Rev Unadjusted PM2.5 LC TOT', 'EC CSN_Rev Unadjusted PM2.5 LC TOT', 'OC CSN_Rev Unadjusted PM2.5 LC TOR', 'OC1 CSN_Rev Unadjusted PM2.5 LC', 'OC2 CSN_Rev Unadjusted PM2.5 LC', 'OC3 CSN_Rev Unadjusted PM2.5 LC', 'OC4 CSN_Rev Unadjusted PM2.5 LC', 'OP CSN_Rev Unadjusted PM2.5 LC TOR', 'OP PM2.5 LC TOT', 'EC CSN_Rev Unadjusted PM2.5 LC TOR', 'EC PM2.5 LC TOT', 'OC PM2.5 LC TOT']

The Sample Duration column contains the following unique values:
['1 HOUR', '8-HR RUN AVG BEGIN HOUR', '24-HR BLK AVG', '8-HR RUN AVG END HOUR', '3-HR BLK AVG', '8 HOUR', '24 HOUR', '5 MINUTE', '2 HOUR', '3 HOURS', 'COMPOSITE DATA', '30 MINUTE']

The Pollutant Standard column contains the following unique values:
['Ozone 1-hour 1979', 'Ozone 8-Hour 1997', 'Ozone 8-Hour 2008', 'Ozone 8-hour 2015', nan, 'PM25 24-hour 1997', 'PM25 24-hour 2006', 'PM25 24-hour 2012', 'PM25 Annual 1997', 'PM25 Annual 2006', 'PM25 Annual 2012', 'CO 1-hour 1971', 'CO 8-hour 1971', 'SO2 1-hour 2010', 'SO2 Annual 1971', 'SO2 24-hour 1971', 'SO2 3-hour 1971', 'NO2 1-hour 2010', 'NO2 Annual 1971', 'PM10 24-hour 2006', 'Lead 3-Month 2009', 'Lead Quarterly 1978']

The Metric Used column contains the following unique values:
['Daily maxima of observed hourly values (between 9:00 AM and 8:00 PM)', 'Daily maximum of 8 hour running average of observed hourly values', 'Daily maximum of 8-hour running average', 'Observed Values', 'Daily Mean', 'Quarterly Means of Daily Means', 'Obseved hourly values', '8-Hour running average (end hour) of observed hourly values', 'Daily maximum 1-hour average', 'Daily Average of observed values', '3-Hour block average of observed hourly values', 'Daily Maximum 1-hour average', 'Observed values']

The Method Name column contains the following unique values:
['INSTRUMENTAL - ULTRA VIOLET ABSORPTION', nan, 'Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM2.5C - Beta Attenuation', 'INSTRUMENTAL - ULTRA VIOLET', 'Instrumental - RM Young Model 05103', 'Instrumental - Vaisala 435C RH/AT Sensor', 'INSTRUMENTAL - PYRANOMETER', 'Instrumental - Vaisala 555B Pressure Sensor', 'Heated Tipping Bucket - Instrument', 'INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER', 'INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE', 'Instrumental - Chemiluminescence Teledyne API 200 EU/501', 'Teledyne-API Model 200EUP or T200UP - Photolytic-Chemiluminescence', 'SILICA-DNPH-CART-KI O3 SCRUB - HPLC ULTRAVIOLET ABSORPTION', 'Met One SASS/SuperSASS Teflon - Filter absorption at 633nm by HIPS', 'BGI Models PQ200-VSCC or PQ200A-VSCC - Calculation', 'BGI Models PQ200-VSCC or PQ200A-VSCC - Electronic', 'Met One SASS/SuperSASS - Electronic', 'BGI Models PQ200-VSCC or PQ200A-VSCC - Barometric Sensor', 'Met One SASS/SuperSASS - Barometric Sensor', 'Met One SASS/SuperSASS Teflon - Sample Flow Rate CV', 'MetOne SASS/SuperSASS Nylon - Sample Flow Rate CV', 'URG3000N - Sample Flow Rate CV', 'MetOne SASS/SuperSASS Teflon - Sample Volume', 'MetOne SASS/SuperSASS Nylon - Sample Volume', 'URG3000N - Sample Volume', 'URG 3000N - Electronic', 'URG 3000N - Barometric Sensor', 'Teledyne API T640X at 16.67 LPM - Broadband spectroscopy', 'BGI Models PQ200-VSCC or PQ200A-VSCC - Gravimetric', 'Met One SASS/SuperSASS Teflon - Energy dispersive XRF', 'Met One SASS/SuperSASS Teflon - Energy Dispersive XRF', 'Met One SASS/SuperSASS Nylon - Ion Chromatography', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - OC1+OC2+OC3+OC4+OP (88324+88325+88326+88327+88328)', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - EC1+EC2+EC3-OP (88329+88330+88331-88336)', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - IMPROVE TOR w/STN Urban Adjustment', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - IMPROVE TOR', 'Calculated from Met One SASS/SuperSASS Teflon - Soil = 2.2*[88104]+2.49*[88165]+1.63*[88111]+2.42*[88126)+1.94*[88161]', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - OC1+OC2+OC3+OC4+OP (88374+88375+88376+88377+88388)', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - EC1+EC2+EC3-OP (88329+88330+88331-88388)', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - OC1+OC2+OC3+OC4+(OP(TOR))=(88374+88375+88376+88377+88378)', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - IMPROVE_A TOT w/CSN urban adjustment', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - EC1+EC2+EC3-(OP(TOR))=(88383+88384+88385-88378))', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - EC1+EC2+EC3-(OP(TOT))=(88329+88330+88331-88379)', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - OC1+OC2+OC3+OC4+(OP(TOT))=(88324+88325+88326+88327+88379)', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - IMPROVE_A', 'URG 3000N w/Pall Quartz filter and Cyclone Inlet - IMPROVE TOT', 'Calculated from Met One SASS/SuperSASS (Teflon and Nylon) and URG 3000N (Quartz) - RCFM = 4.125*[88169]+1.29*[88306]+[88348]+1.8*[88203]+[88321]+1.4*[88320]', 'Teledyne T640X at 16.67 LPM - Broadband spectroscopy', 'Instrumental - Ecotech Serinus 50', 'PM2.5 SCC w/No Correction Factor - TEOM Gravimetric 50 deg C', 'Thermo Scientific 1405-DF Dichotomous TEOM FDMS - FDMS Gravimetric', 'Thermo Scientific 1405 TEOM - Gravimetric', 'HI-VOL SA/GMW-1200 - GRAVIMETRIC', 'R & P Model 2025 PM-2.5 FEM Sequential Air Sampler - Calculation', 'R & P Model 2025 PM-2.5 FEM Sequential Air Sampler - Electronic', 'R & P Model 2025 PM-2.5 FEM Sequential AIr Sampler - Barometric Sensor', 'R & P Model 2025 PM-2.5 FEM Sequential Sampler - Barometric Sensor', 'R & P Model 2025 PM-2.5 FEM Sequential Air Sampler - Barometric Sensor', 'R & P Model 2025 PM-2.5 FEM Sequential AIr Sampler - Calculation', 'R & P Model 2025 PM-2.5 Sequential Air Sampler w/VSCC - Gravimetric', 'PM2.5 VSCC w/No Correction Factor - TEOM Gravimetric 30 deg C', 'R - P Co Partisol Model 2025 - Gravimetric', 'Multiple Methods Used', 'HI-VOL - ICP-MS  FRM; Heated ultrasonic 1.03M HNO3/2.23M HCl or Hot block 1:19 v/v HNO3', 'INSTRUMENTAL - Gas Filter Correlation Thermo Electron 48i-TLE', 'R & P Model 2000 PM-2.5 FEM Air Sampler - Calculation', 'R & P Model 2000 PM2.5 Sampler - Calculation', 'R & P Model 2000 PM2.5 Sampler - Electronic', 'R & P Model 2000 PM2.5 Sampler - Barometric Sensor', 'R - P Co Partisol Model 2000 - Gravimetric', 'INSTRUMENT MET ONE 4 MODELS - BETA ATTENUATION', 'R & P Model 2000 PM-2.5 Air Sampler w/VSCC - Gravimetric', 'Met One BAM-1020 Mass Monitor w/VSCC - Beta Attenuation', 'INSTRUMENTAL - ELECTRONIC OR MACHINE AVG.', 'INSTRUMENTAL - VECTOR SUMMATION', 'INSTRUMENTAL - ARITH STD DEV LEVEL 1', 'INSTRUMENTAL - ELEC. OR MACH. AVG. LEVEL 1', 'INSTRUMENTAL - HYGROSCOPIC PLASTIC FILM', 'BUCKET - CONTINUOUS OR INCREMENTAL', 'INSTRUMENTAL - Gas Filter Correlation Teledyne API 300 EU', 'INSTRUMENTAL - Pulsed Fluorescent 43C-TLE/43i-TLE', 'Instrumental - RM Young Ultrasonic Anemometer Model 86004', 'Instrumental - Met One 083D', 'R & P Model 2000 PM-2.5 FEM Air Sampler - Electronic', 'R & P Model 2000 PM-2.5 FEM Air Sampler - Barometric Sensor', 'Thermo Scientific Partisol Model 2000 Sampler Pair - Paired Gravimetric', 'Met-One BAM-1020 W/PM2.5 SCC - Beta Attenuation', 'Met One SASS/SuperSASS Teflon - Gravimetric', 'Instrumental - RM Young Model 05305', 'INSTRUMENTAL-R&P SA246B-INLET - TEOM-GRAVIMETRIC', 'R & P Model 2000 PM2.5 Sampler w/WINS - GRAVIMETRIC', 'Hi-Vol - Inductively Coupled Plasma-Mass Spectrometry Acid filter extraction with nitric and hydrochloric acid', 'INSTRUMENTAL - ELECTRONIC', 'INSTRUMENTAL - BAROMETRIC SENSOR', 'INSTRUMENTAL - NONDISPERSIVE INFRARED', 'INSTRUMENTAL - CHEMILUMINESCENCE', 'Thermo Scientific 1405-DF Dichotomous FDMS - FDMS Gravimetric', 'Thermo Scientific TEOM 1405-DF Dichotomous FDMS - FDMS Gravimetric', 'Virtual Impactor - FDMS-Gravimetric 1405-DF']

The Year column contains the following unique values:
[2023]

The Units of Measure column contains the following unique values:
['Parts per million', 'Micrograms/cubic meter (LC)', 'Knots', 'Degrees Compass', 'Degrees Fahrenheit', 'Percent relative humidity', 'Langleys/minute', 'Millibars', 'Inches (rainfall)', 'Parts per billion', 'Parts per billion Carbon', 'Inverse 100 Megameters', 'Cubic meter', 'Degrees Centigrade', 'Millimeters (mercury)', 'Percent', 'Micrograms/cubic meter (25 C)', 'Minutes', 'Nanograms/cubic meter (25 C)', 'Nanograms/cubic meter (LC)', 'COHS/1,000 linear feet', 'Inverse Megameters', 'Temp Difference, Centigrade ', 'Beta Scatter', 'Miles (visibility)', 'Watts/sq meter', 'Count per cm^3', 'Meters', 'Parts per million Carbon']

The Event Type column contains the following unique values:
['No Events', 'Events Included', 'Concurred Events Excluded', 'Events Excluded']

The Observation Count column contains the following unique values:
[2660, 2769, 1963, 4005, 166, 3750, 155, 4310, 181, 4819, 5040, 3570, 2693, 2815, 1992, 4344, 4342, 4145, 4292, 179, 2783, 2906, 2062, 4094, 4046, 4113, 171, 1346, 4207, 4193, 21, 4296, 3055, 37, 60, 40, 39, 4297, 38, 36, 4295, 4304, 1422, 4284, 2881, 2886, 2050, 2915, 2925, 2071, 29, 1060, 44, 2914, 2919, 2069, 58, 4337, 28, 11, 4293, 180, 4143, 168, 1361, 1329, 3944, 3798, 57, 2909, 2070, 4331, 2901, 4210, 174, 4324, 27, 83, 30, 2918, 23, 4328, 2151, 90, 2904, 2912, 2068, 3657, 158, 1122, 3656, 2781, 2907, 4238, 176, 2611, 2698, 1909, 2699, 2824]

The Observation Percent column contains the following unique values:
[48, 47, 46, 45, 43, 42, 49, 50, 62, 61, 6, 31, 98, 33, 32, 100, 30, 12, 97, 95, 8, 67, 18, 9, 16, 15, 35, 38, 25, 44, 11, 34, 37, 41, 71, 66, 52, 74, 75, 63, 64, 73, 40, 72, 26, 27, 23, 24, 5, 7, 3, 2, 17, 1, 68, 21, 65, 77, 56, 55, 76, 36, 51, 28, 70, 57, 78, 54, 53, 14, 58, 39, 13, 90, 22, 10, 20, 59, 19, 29, 99, 93, 4, 69, 60, 0, 88, 87, 86, 85, 82, 81, 80, 79, 83, 84, 96, 94, 92, 91]

The Completeness Indicator column contains the following unique values:
['N', 'Y']

The Valid Day Count column contains the following unique values:
[117, 115, 113, 170, 166, 161, 155, 181, 153, 152, 150, 116, 177, 179, 121, 178, 171, 169, 176, 7, 37, 30, 40, 39, 58, 38, 36, 182, 120, 119, 122, 29, 44, 28, 20, 6, 180, 56, 11, 168, 60, 61, 167, 162, 54, 174, 27, 21, 23, 90, 158, 114, 110, 109, 118, 13, 137, 15, 42, 59, 57, 111, 175, 25, 26, 151, 243, 123, 31, 55, 163, 270, 273, 230, 229, 228, 239, 241, 240, 271, 233, 231, 266, 265, 272, 22, 24, 268, 267, 261, 263, 165, 91, 99, 100, 164, 14, 12, 8, 85]

The Required Day Count column contains the following unique values:
[245, 365, 121, 61, 60, 89, 214, 30, 92, 275, 71, 46, 23, 120, 212, 322, 242, 180, 15, 328, 327, 66, 153, 306, 70, 172, 12, 290, 236, 183, 129, 128, 235, 238, 109, 257, 45, 184, 200, 355, 4, 181, 354, 137, 228, 33, 27, 2, 202, 1, 3, 187, 173, 29, 279, 21, 53, 347, 356, 106, 32, 26, 326, 317, 321, 277, 188, 38, 6, 270, 303, 10, 40, 19, 333, 20, 312, 216, 68, 346, 58, 72, 94, 271, 178, 320, 193, 54, 108, 313, 8, 75, 176, 261, 191, 334, 340, 198, 24, 273]

The Exceptional Data Count column contains the following unique values:
[0, 83, 4328, 6515, 29, 30, 24, 4313, 6484, 6423, 20, 3620, 5577, 5804, 5666, 21, 165, 1, 144, 167, 6518, 3541, 3930, 4310, 3988, 4320, 18, 22, 4277, 4965, 14, 3918, 3343, 28, 5441, 40, 17, 6356, 4344, 4363, 3731, 3631, 3782, 3466, 1733, 2493, 3834, 3997, 4069, 4171, 16, 5211, 19, 5757, 1031, 1162, 1163, 556, 4842, 2124, 23, 234, 94, 220, 5305, 61995, 4920, 4, 5, 3, 80, 38, 69, 5638, 67, 4781, 8, 5936, 6307, 93, 119, 95, 72, 239, 48, 120, 312, 229, 192, 96, 113, 114, 136, 238, 2, 225, 3940, 34, 35, 2116]

The Null Data Count column contains the following unique values:
[268, 0, 339, 594, 34, 269, 235, 2, 199, 52, 145, 250, 231, 137, 151, 9, 48, 3, 1, 47, 12, 4, 49, 40, 60, 13, 3284, 14, 7, 29, 51, 201, 2983, 400, 546, 16, 19, 27, 134, 20, 22, 5, 405, 24, 687, 688, 147, 106, 317, 229, 212, 224, 31, 162, 210, 319, 238, 297, 133, 458, 369, 286, 6, 126, 149, 401, 398, 525, 11, 236, 69, 777, 117, 15, 161, 17, 165, 112, 1203, 1467, 18, 132, 10, 135, 46, 21, 122, 25, 288, 50, 37, 41, 1600, 251, 218, 248, 36, 381, 43, 442]

The Primary Exceedance Count column contains the following unique values:
[0.0, nan, nan, 7.0, nan, nan, nan, nan, 21.0, nan, nan, nan, nan, 25.0, nan, nan, 1.0, 2.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 30.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 6.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

The Secondary Exceedance Count column contains the following unique values:
[0.0, nan, nan, 7.0, nan, nan, nan, nan, 21.0, nan, nan, nan, nan, 25.0, nan, nan, 1.0, 2.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, 30.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 6.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

The Certification Indicator column contains the following unique values:
['Certification not required']

The Num Obs Below MDL column contains the following unique values:
[0]


In [ ]:
Definitive statements:
#Fields 1-5 are codes
#Fields 6-8 are geographical indicators
#Values of 72, 80 (virgin islands, PR) can be omitted
#Fields 49-54 are more geographical indicators
Propositional statements:
#What purpose does Fields 17, 18 serve for our dataset? Petition to omit?
#Fields 42 - 48 are percentile data, should we keep all? Keep some? Rename 50th percentile to Median?
#Perhaps we can instead provide columns for standard deviation and variance and group together more elementary
#core statistical parameters
#Fields 4,55 should be removed as they are specifically AQS related and it would probably be considered plagiarism highkey